<div
  class="w-[85%] fixed z-50 top-2 bg-black/90 mt-5 rounded-xl max-md:mt-20 max-md:w-[95%] group"
  id="search-bar"
>
  <button>
    <img
      src="/assets/icon-search.svg"
      alt="Search Bar"
      class="w-10 h-10 absolute bottom-5"
    />
  </button>
  <input
    type="text"
    class="w-full p-6 bg-transparent placeholder:text-2xl placeholder:text-gray pl-14 outline-none text-white text-xl focus:border-2 focus:border-red rounded-xl transition-all duration-200 ease-in-out"
    [placeholder]="placeholder"
    (input)="handleInput($event)"
  />
</div>
