<div class="max-w-screen-2xl mt-10">
  <h1 class="font-medium text-white text-start text-2xl">Trending</h1>
  <!-- *ngIf="!(loading$ | async) && !(error$ | async)" -->
  <div
    class="mt-6 w-full flex flex-row overflow-x-auto scroll-smooth space-x-10"
  >
    <div
      *ngFor="let movie of trendingMovies$ | async"
      class="relative w-2/5 min-w-[calc(100%/3)] md:min-w-[calc(100%/2)] lg:min-w-[calc(100%/3)] flex-shrink-0 group"
    >
      <img
        [src]="movie.thumbnail.regular.large"
        alt="{{ movie.title }}"
        class="w-full h-64 object-cover rounded-2xl cursor-pointer"
      />

      <div
        class="cursor-pointer absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-2xl opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
      >
        <div
          class="w-28 h-12 pl-2 flex items-center rounded-full bg-white/0 space-x-4 hover:border-white group-hover:bg-white/35 duration-300 transition-all"
        >
          <img src="/assets/icon-play.svg" alt="Play" class="w-8 h-8" />
          <h2 class="text-white font-bold text-base">Play</h2>
        </div>
      </div>

      <div class="flex flex-col absolute bottom-6 mx-10">
        <div class="flex items-center space-x-4">
          <p class="text-sm text-grayLight font-bold">{{ movie.year }}</p>
          <div class="flex items-center space-x-2">
            <img
              src="/assets/icon-category-movie.svg"
              alt="Movie"
              class="w-3 h-3"
            />
            <!-- <p class="text-sm text-grayLight">
              {{ movie.genre | slice : 0 : 10
              }}{{ movie.genre.length > 10 ? ".." : "" }}
            </p> -->
          </div>
          <p class="text-sm text-grayLight">{{ movie.rating }}</p>
        </div>
        <h2 class="font-bold text-2xl text-white">{{ movie.title }}</h2>
      </div>

      <button
        class="absolute top-4 right-5 p-3 text-white hover:text-dark rounded-full bg-grayDark bg-opacity-60 hover:bg-white/35 duration-300 transition-all ease-out"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Loading Spinner -->
<!-- <div
  *ngIf="loading$ | async"
  class="loading-container flex items-center justify-center"
>
  <div class="loading-bar">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div> -->

<!-- Error Message -->
<!-- <div *ngIf="error$ | async as error" class="error-container">
  <p class="error-message">Error: {{ error }}</p>
</div> -->
